<?xml version="1.0"?>
<launch>
  <arg name="modelfile"   default="$(find mujoco_screw_plugin)/assets/screw_nut_world.xml"  />

  <param name="/use_sim_time" value="true"/>

  <rosparam file="$(find mujoco_screw_plugin)/config/mujoco_screw_plugin.yaml" subst_value="true" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="/use_sim_time"       value="true" />
  </include>

</launch>
